<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据库登录</title>
    <link rel="stylesheet" href="{{ url_for('static',filename ='css/login_css.css') }}">{# 链接到static文件夹中的login_css文件，用于显示样式，链接后可以直接调用其中的类 #}
    <link rel="stylesheet" href="{{ url_for('static',filename ='css/template.css') }}">
</head>
<body>
<header>
    <ul>
        <li>
            <a href="#" class="title">{# 超链接，因为连接到本地所以用井号，title是css文件中的class名，规定显示样式 #}
                <div>
                    <img alt='项目管理系统' src="{{ url_for('static',filename ='images/website_logo.png') }}">
                    <h1>数据库</h1>
                </div>
            </a>
        </li>
    </ul>
</header>
<div class="login_div">{# div用来分块，后面跟的class指的是该块使用的显示样式类型，该类定义于css文件中 #}
 <div class="login_div_small">
  <label class="login_welcome">Welcome to database!</label>
 </div>
  <form method="post">{#表单的第一种实现方式，post表示用户将资源发到服务器的请求#}
  <div class="login_div_small">
      <span class="ico"><label>用户名：</label><input type="text" name="username"></span>{# 输入的参数名为username，类型为text #}
  </div>
  <div class="login_div_small">
      <span class="ico"><label>密码：</label><input type="password" name="password"><br></span>
  </div>
  <div class="login_div_small">
     <input type="submit" value="提交">
  </div>
  <div style="color:red" class="login_div_small">
     {% for massage in get_flashed_messages() %}
         {{ massage }}
     {% endfor %}
  </div>
  </form>xczXCZ
<div>
</body>
</html>