<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Meal style
        <input type="checkbox" value="appetizer" name="Meal_appetizer">appetizer
        <input type="checkbox" value="soup" name="Meal_soup">soup
        <input type="checkbox" value="main course" name="Meal_course">main course
        <input type="checkbox" value="dessert" name="Meal_dessert">dessert
    </p>

    <p>Taste
        <input type="checkbox" value="1" name="taste_sweet">sweet
        <input type="checkbox" value="1" name="taste_sour">sour
        <input type="checkbox" value="1" name="taste_spicy">spicy
        <input type="checkbox" value="1" name="taste_salty">salty
        <input type="checkbox" value="1" name="taste_umami">umami
    </p>
    <button onclick="window.open('http://www.baidu.com')">

    </button>
    

    
</body>
</html>
<!-- 
@app.rout("/test")
def test():
	taste_list = request.from.getlist("taste") # hobby_list = ["reading","other","dancing"]

@app.rout("/test")
def test():
	meal_list = request.from.getlist("Meal") # hobby_list = ["reading","other","dancing"]
-->